@import url('https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&family=MedievalSharp&family=VT323&display=swap');

.pagina {
    text-align: center;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1.5rem;
}


header{
    margin-top: 2rem;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
}

header a{
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    border-style: solid;
    border-color: gray;
    border-width: 0.15rem;
}

header a:hover{
    background-color: black;
    color: white;
}

h1{
    font-size: 4rem;
}

img {
    width: 70%;
}

img:hover {
    opacity: 0.5;
    filter: saturate(200%);
}
