@import url("https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&family=MedievalSharp&family=VT323&display=swap");


.pagina {
  text-align: center;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

header {
  margin-top: 2rem;
  margin-bottom: 0px;
  text-align: center;
  font-family: "MedievalSharp", cursive;
}

.botonspread {
  margin: 0 6px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  padding: 0 10px;
  color: black;
  background-color: white;
  text-decoration: none;
  border-style: solid;
  border-color: gray;
  border-width: 0.15rem;
  transition-duration: 0.5s;
}

.botonspread:hover {
  background-color: black;
  color: white;
}

h1 {
  font-size: 4rem;
}

img {
  width: 100%;
  display: block;
}

img:hover {
  filter: saturate(200%);
}

.botonimagen {
  text-align: center;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  border: none;
  width: 70%;
  box-shadow: none;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-contenido {
  background-color: #fefefe;
  margin: 1.2% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 3px solid black;
  width: 40%;
  /* Could be more or less, depending on screen size */
  text-align: center;
}

.row {
  overflow: auto;
}

.popup-cerrar {
  color: #aaa;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
}

.popup-texto {
  overflow: auto;
  padding: 0.2rem;
  margin: 0;
  font-family: monospace;
}

.popup-texto p {
  text-align: center;
}

.popup-texto img {
  width: 50%;
  float: left;
}

.popup-texto h2 {
  font-size: 3rem;
  font-family: "MedievalSharp", cursive;
  padding-bottom: 0;
  margin-bottom: 0;
}

.popup-texto h3 {
  font-size: 2.5rem;
  font-family: "MedievalSharp", cursive;
}

.popup-texto h4 {
  font-size: 1rem;
  font-family: "MedievalSharp", cursive;
  color: gray;
}

.popup-cerrar {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-family: "MedievalSharp", cursive;
  margin-bottom: 1rem;
  border-width: 0.15rem;
  border-color: black;
  border-style: solid;
}

.popup-cerrar:hover {
  background-color: white;
  color:black;
  border-style: solid;
}

label {
  font-size: 1rem;
}

mark {
  background-color:white;
  border-style: solid;
  border-color: #aaa;
  border-width: 0.005rem;
}

p mark{
  line-height: 2.3rem;
}

.oscurecer{
  filter: grayscale(100%);
}

.pageinfo{
  margin: 0 auto;
  margin-top: 3rem;
  border-style: solid;
  border-color: gray;
  border-width: 0.15rem;
  max-width: 500px;
  text-align: center;
}

.pageinfo img{
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.interpretacion{
  display: none;
  font-family: "MedievalSharp", cursive;
  text-align: center;
}

.interpretacion h3 {
  font-size: 1.5rem;
  color:gray
}

.interpretacion p {
  font-family: monospace;
}

.invertir-imagen{
  transform: scaleY(-1);
}

@media (max-width: 991.98px) {
  img {
    width: 100%;
  }

  .botonimagen {
    width: 100%;
  }

  .popup-contenido {
    width: 90%;
  }

  .popup-texto img {
    width: 60%;
    float: none;
    margin: 0 auto;
    padding-bottom: 15px;
  }

  .pageinfo {
    max-width: 300px;
  }


}
